{% extends "base.html"%}
	{% block content %}
	<body class="is-preload landing">
		<div id="page-wrapper">
			{% include "corp-profile-menu.html"%}
			<!-- Banner -->
				<div class="corp-login">
				<section style="padding-top:6em" class="container">
					<h2>Profile</h2>
					<h2> Welcome {{user.first_name}} {{user.last_name}} ,</h2>
					<h3> Name- {{profile.api_name}}</h3>
					<h3> ID- {{profile.api_id}} </h3>
					<h3> Key- {{profile.api_key}} </h3>
					<h3> Secret- {{profile.api_secret}} </h3>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Event</th>
									<th>Event ID</th>
									<th>No of Votes</th>
								</tr>
							</thead>
							<tbody>
								{% for event in events%}
								<tr>
									<td>{{event.event_name}} </td>
									<td>{{event.event_id}}</td>
									<td>{{event.voted}} of {{event.total}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</section>
			</div>
				{%endblock content%}
