{% extends "base.html"%}
	{% block content %}
	<body class="is-preload landing">
		<div id="page-wrapper">
			{% include "menu-main.html"%}
				<!-- Banner -->
				<section id ="banner" class ="voter-login">
					<div class="content">
					<h2 style="text-align:center">OTP Sent</h2>
					<form class="form-horizontal" name="OTPForm"  method="POST">
								{% csrf_token %}
								{% if next %}
										<input type="hidden" name="next" value="{{ next }}" />
								{% endif %}
								<h3>Please Check you Registered Mail-ID</h3>
								<div class="form-group">
										<div class="form-group">
												<input type="text" id="l1" name="Line 1"  placeholder="Line 1">
										</div>
										<div class="form-group">
												<input type="text" id="l2" name="Line 2"  placeholder="Line 2">
										</div>
								</div>
								<div class="form-group">
										<div class="controls">
												<button type="submit" class="button primary small" style="background-color:#2d8e3a;" >Verify</button>
										</div>
								</div>
							</form>
					 </div>
				 </section>


{%endblock content%}
